<div class ="moveCount">{{GetTotalMoveCount()}} moves</div>
<div class="solution">{{solution}}</div>
<table class="solution-steps">
    <thead>
        <th>Step</th>
        <th>Moves</th>
        <th>Count</th>
    </thead>
    <tr *ngFor="let solutionStep of solutionSteps; let stepIndex = index">
        <td>{{solutionStep.step}}</td>
        <td>{{solutionStep.moves.join(" ")}}</td>
        <td>[{{solutionStep.moves.length}}/{{GetCumulativeMoveCount(stepIndex)}}]</td>
    </tr>
</table>